# --- R ------------------------------------------------------------------------
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# --- Output -------------------------------------------------------------------
*.html
*.pdf.aux

# --- OS / editor --------------------------------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
